/*Initialisation*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body, ul
{
    margin: 0px;
    padding: 0px;
}
ul
{
    list-style: none;
}
button
{
    border: none;
    width: 250px;
}
/*font*/
body
{
    font-family: ubuntu;
}
/*initialisation position*/
.d-flex
{
    display: flex;
}
.d-grid
{
    display: grid;
}
.justify-around
{
    justify-content: space-around;
}
.justify-center
{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
.align-center
{
    align-items: center;
}
.text-end{
    text-align: end;
}
.text-center
{
    text-align: center;
}
.flex-wrap
{
    flex-wrap: wrap;
}
/*margin/*/
.m-10
{
    margin: 10px;
}
.m-20
{
    margin: 20px;
}
.m-30
{
    margin: 30px;
}
.m-45{
    margin: 45px;
}
.m-60
{
    margin: 60px;
}
.my-10
{
    margin: 10px 0px;
}
.my-30
{
    margin: 30px 0px;
}
.mx-10
{
    margin: 0px 10px;
}
.mr-100
{
    margin-right: 100px;
}
.ml-50
{
    margin-left: 50px;
}
.ml-100
{
    margin-left: 100px;
}
/*padding*/
.p-20
{
    padding: 20px;
}
.p-40
{
    padding: 40px;
}
/*font size*/
.size_10
{
    font-size: 1rem;
}
.size_15
{
    font-size: 1.5rem;
}
.size_25
{
    font-size: 2.5rem;
}
/*initialisation couleur*/
.color_header
{
    background-color: #1A1A1D;
}
.color_section_1
{
    background-color: #334D5C;
}
.color_section_footer
{
    background-color: #EAE3D6;
}
.color_footer
{
    background-color: #393A3B;
}
.color-white
{
    color: white;
}
/*grille*/
.gridr-2_1
{
    grid-template-columns: repeat(2,1fr);
}
.gridr-3_1
{
    grid-template-columns: repeat(3,1fr);
}
.gridnr-3_5
{
    grid-template-columns: 3fr 5fr;
}
/*taille*/
.w-50
{
    width: 50px;
}
.w-75
{
    width: 75px;
}
.w-100
{
    width: 100px;
}
.w-200
{
    width: 200px;
}
.w-100p{
    width: 100%;
}
.h-100p
{
    height: 100%;
}